.controls{
    margin-bottom: 1em;
    text-align: right;
}
#badge {
    height: 100%;
    width: 100%;
}

#loader {
    height: 341.9px;
    width: 329.8px;

}

.st0 {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-width: 10;
    stroke-miterlimit: 10;
}

.st1 {
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st4 {
    font-family: '.SFNSText-Regular';
    font-size: 30px;
}

.st5 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}
