<script src="../scripts/badge.js"></script>
<div class="controls">
    <button id="open">open</button>
    <button id="close">close</button>
    <div id="sound"></div>
</div>
<div class="jumbotron">
    <div id="badge">
        <svg id="loader" version="1.1" viewBox="0 0 341.9 329.8" xml:space="preserve">
            <polyline id="tail1" class="st0" points="213 189.4 213 237.5 171.4 261.5 129.7 237.5 129.7 189.4 " />
            <polyline id="tail2" class="st0" points="225.4 146.8 225.4 209.3 171.4 240.5 117.3 209.3 117.3 146.8 " />
            <polygon id="wingLf1" class="st1 wingL" points="42.6 82.3 123.2 143.8 123.2 129.8 42.6 68.3 " />
            <polygon id="wingLf2" class="st1 wingL" points="62.8 112.5 123.2 158.6 123.2 144.6 62.8 98.4 " />
            <polygon id="wingLf3" class="st1 wingL" points="82.9 142.6 123.2 173.4 123.2 159.3 82.9 128.6 " />
            <polygon id="wingLf4" class="st1 wingL" points="103.1 172.7 123.2 188.1 123.2 174.1 103.1 158.7 " />

            <g id="over">
                <path id="centerpiece" class="st2" d="M201.9 207.9h-61.4c-6.6 0-12-5.4-12-12v-61.4c0-6.6 5.4-12 12-12h61.4c6.6 0 12 5.4 12 12v61.4C213.9 202.5 208.5 207.9 201.9 207.9z" />
                <text transform="matrix(1 0 0 1 143.0106 159.6409)" class="st4">L</text>
                <line id="shine" class="st5" x1="200.9" y1="122.5" x2="141.5" y2="207.9" />
            </g>
        </svg>
    </div>
</div>
